<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title>Project Setup Template</title>
    <script src="vendors/angular.min.js" charset="utf-8"></script>
    <script src="vendors/jquery-2.2.4.min.js" charset="utf-8"></script>
    <script src="scripts/script.js" charset="utf-8"></script>
  </head>
  <body>
    <div ng-controller="testController">
      <input type="text" ng-model="testBinder" name="name" value="">
      <p> {{ testBinder }} </p>
      <button ng-click="getTestInput()" type="button" name="button">Hello There</button>
    </div>
  </body>
</html>
